Dear <b>{displayName}</b>!<br />
<br />
You (or someone) have requested a reset password in Xiangqi because you forgot your password.<br />
If you didn't request this then change your password immediately to protect your account. It'll expire in 24 hours' time.<br />
<br />
To reset your password, please visit this page:<br />
{domain}/reset-password?id={id}&token={token}<br />
<br />
When you visit this page, you'll able to set your new password without old password prompt.<br />
<br />
Your username is: <b>{userName}</b><br />
<br />
Do the best!
