@media screen and (max-width: 376px) {
	:root {
		--cell-size: 40px;
		--piece-size: 32px;
		--river-gap: 20px;
		--board-padding: 15px;
		--piece-font-size: 18px;
		--line-color: #5b2f12;
		--wood: #deb46f;
	}
}

@media screen and (min-width: 376px) and (max-width: 400px) {
	:root {
		--cell-size: 40px;
		--piece-size: 32px;
		--river-gap: 20px;
		--board-padding: 15px;
		--piece-font-size: 18px;
		--line-color: #5b2f12;
		--wood: #deb46f;
	}
}

@media screen and (min-width: 401px) and (max-width: 450px) {
	:root {
		--cell-size: 45px;
		--piece-size: 33px;
		--river-gap: 20px;
		--board-padding: 18px;
		--piece-font-size: 20px;
		--line-color: #5b2f12;
		--wood: #deb46f;
	}
}

@media screen and (max-width: 450px) {
	.room-container {
		flex-direction: column;
	}

	.xiangqi-board {
		order: -1;
	}

	.player-info-row, .room-action-row {
		width: calc(var(--board-width) + var(--board-padding) * 2);
		height: fit-content;

		&.view {
			display: flex;
			justify-content: space-between;
			flex-direction: row;
			gap: 12px;
		}
	}

	.dashboard__join-room-board {
		display: none;
	}

	.piece-table {
		width: 100% !important;
	}
	
	.top-player {
		align-items: flex-start;

		> .captured-pieces-display {
			flex-direction: row;
			direction: ltr;
		}
	}

	.bottom-player {
		> .player-info-card {
			order: -1;
		}

		> .captured-pieces-display {
			flex-direction: row;
			direction: rtl;
		}
	}
}
