@media screen and (max-width: 376px) {
	:root {
		--cell-size: 40px;
		--piece-size: 32px;
		--river-gap: 0px;
    --board-padding: 15px;
		--line-color: #5b2f12;
		--wood: #deb46f;
	}

	.piece {
		font-size: 18px;
	}

	.xiangqi-board {
		padding: var(--board-padding);
	}
}

@media screen and (min-width: 376px) and (max-width: 400px) {
	:root {
		--cell-size: 40px;
		--piece-size: 32px;
		--river-gap: 0px;
    --board-padding: 15px;
		--line-color: #5b2f12;
		--wood: #deb46f;
	}

	.piece {
		font-size: 18px;
	}

	.xiangqi-board {
		padding: var(--board-padding);
	}
}

@media screen and (min-width: 401px) and (max-width: 440px) {
	:root {
		--cell-size: 45px;
		--piece-size: 33px;
		--river-gap: 0px;
    --board-padding: 18px;
		--line-color: #5b2f12;
		--wood: #deb46f;
	}

	.piece {
		font-size: 20px;
	}

	.xiangqi-board {
		padding: var(--board-padding);
	}
}
