.show-password {
	cursor: pointer;
}

.start-icon {
	margin-right: 10px;
	cursor: pointer;
}

.google-signin-wrapper {
	width: 100%;
	min-width: 0;
	display: flex;
	justify-content: center;

}

.facebook-signin-btn {
	background-color: #1877f2 !important;

	&:hover {
		background-color: #166fe5 !important;
	}
}
