.confirm-message-row {
	text-align: left;
	margin-bottom: 16px !important;
	display: flex;
	align-items: flex-start;
	gap: 8px;
}

.confirm-dialog .button-container {
	justify-content: flex-end;
	gap: 16px;
}
