.popup-title-text {
	display: "block";
	justify-content: "center";
	align-items: "center";	
}

.divider {
	margin: 5px 0;
}

.alert-message {
	text-align: center;
	margin-bottom: 1rem;
}

.alert-dialog .button-container {
	justify-content: center;
	margin-top: 1rem;
}
